.number-pad {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 20px;

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    div {
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      p {
        margin: 0;
      }
    }
  }

  .number-display {
    p {
        font-size: 28px;
    }
  }

  .hundred {
    background-color: black;
    margin-bottom: 30px;
  }

  .ten {
    background-color: darkgray;
  }

  .buttons {
    margin-top: 40px;
  }
}
