.number-pad {
	display: grid;
	gap: 0.5rem;
    width: 90%;
    padding: 0 5%;

	.row {
		display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
		gap: 0.5rem;

		div {
			padding: 0.5rem;
			font-size: 1rem;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            p {
                margin: 0;
            }
		}
	}

    .hundred {
        background-color: black;
        margin-bottom: 30px;
    }

    .ten {
        background-color: darkgray;
    }
    .buttons {
        margin-top: 20px;
    }
}
